<div class="innerPageContent">
  <div class="innerLeft"  id="left-menu">
    <div class="tabbable tabs-left" style="height:90%">
      <ul class="nav nav-tabs" style="width:190px;background: none;">
        <% @listings.each do |l| %>
          <% cls = l.listing_type + l.status.to_s %>
        <li style="border:1px solid #000;" class=<%=cls %> ><a href="#" id=<%=l.id%> class="mylistings active" onclick ="$('#left-menu').find('li').each(function(){$(this).removeClass('active no-border-right')});$(this).parent('li').addClass('active no-border-right');showListing(this.id)" ><%=l.name%></a></li>
        <% end %>

      </ul>
    </div>
  </div>
  <img src="/assets/topInnerForm.png" style="margin:0px 0px 0px 10px;"/>
  <div class="innerRight">

    <div class="pageHeading" id="page_heading"></div>
    <div class="uname" ><div class="uimage"><img src="/assets/user.png"  /></div><div class="username">Welcome! <%= session[:user_name]%></div></div>

    <div class="clrbth"></div>

    <div class="contentInner" id="result_data">



      <div class="infoAction">

        <div class="contentInnerLeft">
        </div>

        <div class="contentInnerRight">

        </div>


      </div>
      <div class="contentInnerLeft">	 </div>
      <div class="contentInnerRight">
      </div>

      <div class="bottomContent">
      </div>


    </div>


  </div>
  <img src="/assets/bgFormContentBtm.png" style="margin:0px 0px 0px 210px;"/>


  <div class="clrbth"></div>

</div>
<div id="rename-dialog">
  
  <%= form_tag :url => "", :method => :post do %>
    Name <input type="text" name="listing-name" />
    <button type="submit" class="btn-listing-rename">Save</button>
  <% end %>
</div>

<script type="text/javascript">
  $('document').ready(function(){
    $("#my_listings").parent().addClass("active");
    if ($(".mylistings").length > 0){
      $(".mylistings")[0].click();      
    }
    $("#rename-dialog")
    .dialog(
     {
      bgiframe: true,
      autoOpen: false,
      x:100,
      y:100,
      position:'top',
      width: 320,
      //height: 100,
      modal: true
     }
    );


   $("#active_listing_box").change(function(){
     filter_listings();
   });
   $("#listing_type_box").change(function(){
     filter_listings();
   });

  });

  function filter_listings(){
     $("#result_data").html('');
     $("#page_heading").find('h1').html('');
     if($("#listing_type_box").val() == "For Sale"){
        if($("#active_listing_box").val() == 'Active'){
            $(".Saletrue").show();
            $(".Rentaltrue").hide();
            $(".Salefalse").hide();
            $(".Rentalfalse").hide();
        }
        if($("#active_listing_box").val() == 'Inactive'){
            $(".Saletrue").hide();
            $(".Rentaltrue").hide();
            $(".Salefalse").show();
            $(".Rentalfalse").hide();
        }
        if($("#active_listing_box").val() == 'Both'){
            $(".Saletrue").show();
            $(".Rentaltrue").hide();
            $(".Salefalse").show();
            $(".Rentalfalse").hide();
        }
     };
     if($("#listing_type_box").val() == "For Rent"){
          if($("#active_listing_box").val() == 'Active'){
            $(".Saletrue").hide();
            $(".Rentaltrue").show();
            $(".Salefalse").hide();
            $(".Rentalfalse").hide();
          }
          if($("#active_listing_box").val() == 'Inactive'){
            $(".Saletrue").hide();
            $(".Rentaltrue").hide();
            $(".Salefalse").hide();
            $(".Rentalfalse").show();
          }
          if($("#active_listing_box").val() == 'Both'){
            $(".Saletrue").hide();
            $(".Rentaltrue").show();
            $(".Salefalse").hide();
            $(".Rentalfalse").show();
        }
     }
     if($("#listing_type_box").val() == "Both"){
         if($("#active_listing_box").val() == 'Active'){
            $(".Saletrue").show();
            $(".Rentaltrue").show();
            $(".Salefalse").hide();
            $(".Rentalfalse").hide();
          }
          if($("#active_listing_box").val() == 'Inactive'){
            $(".Saletrue").hide();
            $(".Rentaltrue").hide();
            $(".Salefalse").show();
            $(".Rentalfalse").show();
          }
          if($("#active_listing_box").val() == 'Both'){
            $(".Saletrue").show();
            $(".Rentaltrue").show();
            $(".Salefalse").show();
            $(".Rentalfalse").show();
          }
            
     }
     if($(".mylistings:visible").length > 0)
        $(".mylistings:visible")[0].click();
  };

  function showListing(id)
  {
    var clicked = $("#"+id);
    $.ajax
    ({
      type: "GET",
      url: "/listings/"+id,
      success: function (data){
        $("#result_data").html(data);
        $("#rename-dialog form").attr('action', '/listings/'+ id +'/rename');
        $(".btnStyle.rename").on('click', function() {
          $("#rename-dialog").dialog('open');
          $("#rename-dialog form > input").val($(".mylistings.active li").text());
        });
        $(".mylistings.active").removeClass("active");
        clicked.addClass("active");
        $("#page_heading").find('h1').html('');
      }
    });
  }
</script>
