<% if !@listings.empty? %>
  <div id="listingPanelNew">
    <% @listings.each do |l| %>
	  	<div class="contentUImage"><img src="/assets/user.png"/></div>
		<div class="contentDiv"><%= l.name %>
			<br/>
			<%=l.listing_type%>
			<br/>
			<a href="#" id=<%=l.id%> class="mylistings" onclick ="showListing(this.id)" ><li>Listing<%=l.id%></li></a>
		</div>
	<div class="clrbth"></div>
	<% end %>

     </div>
<% end %>
    <% if(!params[:key_search].nil? && params[:key_search] != '') %>
      <h1> KEY Search Results </h1>
      <% @lists_key.each do |l| %>
	  	<div class="contentUImage"><img src="/assets/user.png"/></div>
		<div class="contentDiv"> <%= l.name %>
			<br/>
			<%=l.listing_type%>
			<br/>
			<a href="#" id=<%=l.id%> class="mylistings" onclick ="showListing(this.id)" ><li>Listing<%=l.id%></li></a>
		</div>
	<div class="clrbth"></div>
	<% end %>
    <% end %>
        
     