<div class="container">
<% if @listings.present? %>
  <div id="listingPanelNew">
  <div class="row">
  <% @i = 0 %>
  <% @listings.each do |listing| %>
     <!-- <div class="contentDiv" style="height:auto" > -->
		<% @i = @i+1 %>
	  <div class="span3">
	  <!-- <div class="contentUImage"><img src="/assets/user.png"/></div> -->
			<h3>
		  <%= listing.name %></h3><br/>
		  <h4><%= listing.listing_type %></h4><br/>
                  <span style="height:80px;">
		  <%= listing.tap_description[0..100] %>
                    </span>
		  <br/>
		  <a href="#" id="<%= listing.id %>" class="mylistings" onclick ="showListing(this.id)">Quick View</a>
		  <%=link_to 'Explore', listing%>
	  </div>
	  <% if @i%3 == 0 %>
		</div>
		<br/>
		<div class="row">
	  <% end%>
    <!-- </div> 
    <div class="clrbth"></div> -->
	<% end %>
  </div>
<% end %>
</div>
