<% if @listings.present? %>
  <div id="listingPanelNew">
  <% @listings.each do |listing| %>
    <div class="contentUImage"><img src="/assets/user.png"/></div>
    <div class="contentDiv"><%= listing.name %>
      <br/>
      <%= listing.listing_type%>
      <br/>
      <a href="#" id="<%= listing.id%>" class="mylistings" onclick ="showListing(this.id)" >Listing<%= listing.id %></a>
    </div>
    <div class="clrbth"></div>
	<% end %>
  </div>
<% end %>
<% if @key_search_listings.present? %>
  <h1> KEY Search Results </h1>
  <% @key_search_listings.each do |listing| %>
    <div class="contentUImage"><img src="/assets/user.png"/></div>
    <div class="contentDiv">
      <%= listing.name %><br/>
      <%= listing.listing_type %><br/>
      <a href="#" id="<%= listing.id %>" class="mylistings" onclick ="showListing(this.id)">Listing<%= listing.id %></a>
    </div>
    <div class="clrbth"></div>
  <% end %>
<% end %>
