<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<%=javascript_include_tag 'smartpaginator' %>
<%=stylesheet_link_tag 'smartpaginator'%>

<% @length = @pictures.length %>
<% @listing_name = @listing.name %>
<script>
  
  $(document).ready(function(){
     $("#page_heading").find('h1').html(lname);
   });

</script>
<div class="pageHeading"><h1><%=@listing.name %></h1></div>
<p id="notice"><%= notice %></p>
<div class="infoAction">
  
  <div class="contentInnerLeft">
    <div class="homeImageHolder" id="homeImageHolder">
      

     <img src="/assets/home.png"/>
     
    </div>
    <div id="black" style="margin: auto;"></div>
  </div>

  <div class="contentInnerRight">
    <div id="editButtonsDiv">      
      <!--      <%= link_to 'Modify', edit_listing_path(@listing) %> -->
      <a href=<%=edit_listing_path(@listing) %> ><input type="button" class="btn-modify" value="Modify"/> </a>
      <a href=<%=listing_path(@listing) %>   data-method="delete" data-confirm="Are you sure?" ><input type="button" class="btn-delete" value="Delete"/> </a>

    </div>
    


</div>
<div class="contentInnerLeft">
  <div class="well">
    <%= @listing.description %>
  </div>
  <div class="info">
    <div class="left">Listing Type:</div>
    <div class="right"><%= @listing.listing_type %></div>
  </div>

  <div class="info">
    <div class="left">Price</div>
    <div class="right"><%= @listing.price %></div>
  </div>


  <div class="info">
    <div class="left">Bedroom</div>
    <div class="right"><%= @listing.bedrooms %></div>
  </div>

  <div class="info">
    <div class="left">Bathrooms</div>
    <div class="right"><%= @listing.bathrooms %></div>
  </div>
  <div class="info">
    <div class="left">Square Footage</div>
    <div class="right"><%= @listing.squarefootage %></div>
  </div>
  <div class="info">
    <div class="left">$/sqft</div>
    <div class="right"><%= @listing.costpersqft %></div>
  </div>

  <div class="info">
    <div class="left">Type</div>
    <div class="right"><%= @listing.adjustment_type %></div>
  </div>

  <div class="info">
    <div class="left">Year Built</div>
    <div class="right"><%= @listing.yearbuilt %></div>
  </div>

  <div class="info">
    <div class="left">Lot Size</div>
    <div class="right"><%= @listing.lotsize %></div>
  </div>

  <div class="info">
    <div class="left">Days on Site</div>
    <% diff_days = ((((Time.now - @listing.created_at).abs)/3600)/24).to_i %>
    <% if diff_days < 1  %>
      <% diff_days = "To Day" %>
    <% end %>

    <div class="right"><%= diff_days %></div>
  </div>
  <div class="info">
    <div class="left">Neighborhood</div>
    <div class="right"><%= @listing.neighbourhood %></div>
  </div>
  <div class="info">
    <div class="left">Status</div>
    <div class="right"><% if @listing.status == true%>
        Active
      <% else %>
        InActive
      <% end %></div>
  </div>
 


</div>



<% @arq = @ajxRqst %>
<script type="text/javascript">

 

  $(document).ready(function(){
     var ajaxRequest = <%=  @arq %>;
     if(ajaxRequest == true)
       {
         $(".content").attr("style","height:760px");
         $("#editButtonsDiv").hide();
          $("#rightCheck").hide();
       }
    
  });
</script>
