<div class="innerPageContent oneCol">
	<div class="pageHeading"><h1><%= @ud.email %>  Profile </h1></div>
		<div class="clrbth"></div>
		<div class="colmid">
			<div class="colText">Email:</div>
			<div class="colObj"> <%= @ud.email %></input> </div>
		</div>
		<div class="clrbth"></div>
		<div class="clrbth"></div>
		<div class="colmid">
			<div class="colText">Name:</div>
			<div class="colObj">  <%= @ud.first_name %><nbsp/><%= @ud.last_name %> </div>
		</div>
		<div class="clrbth"></div>
		<div class="colmid">
			<% if !@ud.picture_id.nil? %>
			<div class="colText">Picture </div>
			<div class="colObj">  
			
				<%= image_tag url_for(:action => 'show_image', :id => @ud.picture_id, :controller => 'listings'), :size => "300x200" %> 
			</div>
			<% end %>
			
		</div>
		<div class="clrbth"></div>		
		<div class="colmid">
			<div class="colText">Is My Profile_public?</div>
			<div class="colObj">  <%if @ud.profile_public? %>
			<input type="checkbox" checked="checked" disabled="true" />
		  <% else %>
			<input type="checkbox" disabled="true" />
		  <% end %></div>
		</div>
		<div class="clrbth"></div>
		<div class="colmid">
			<div class="colText">Address:</div>
			<div class="colObj">  <%= @ud.address1 %> <br/>
			<%= @ud.address2 %>
			<br/>
			<%= @ud.city %>
			<br/>
			<%= @ud.zip %></div>
		</div>
		<div class="clrbth"></div>
		<div class="colmid">
			<div class="colText">phone:</div>
			<div class="colObj"> <%= @ud.phone %> </div>
		</div>
		<div class="clrbth"></div>
		<div class="colmid">
			<div class="colText"></div>		
			<div class="colObj"> <a href="/edit"> Edit</a> </div>
		</div>
		<div class="clrbth"></div>


</div>