
<div class="contentInnerLeft">
  <h1><% @search.name %> </h1>
  <div class="info">
    <div class="left">KeyWord:</div>
    <div class="right"><%= @search.keywords %></div>
  </div>
  <div class="info">
    <div class="left">Listing Type:</div>
    <div class="right"><%= @search.buy_rent %></div>
  </div>
  <div class="info">
    <div class="left">Min Amount</div>
    <div class="right"><%= @search.min_amount %></div>
  </div>

  <div class="info">
    <div class="left">Max Amount</div>
    <div class="right"><%= @search.max_amount %></div>
  </div>
  <div class="info">
    <div class="left">Beds</div>
    <div class="right"><%= @search.beds %></div>
  </div>
  <div class="info">
    <div class="left">Baths</div>
    <div class="right"><%= @search.bath %></div>
  </div>
  <div class="info">
    <div class="left">Zip</div>
    <div class="right"><%= @search.zip %></div>
  </div>
  <div class="info">
    <div class="left">Show From Last</div>
    <div class="right"><%= @search.days_before %></div>
  </div>
</div>
