<!DOCTYPE>
<html>
<head>
  <title>Tapski</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "structure.css", "style.css","jquery.css" %>
  <%= javascript_include_tag "application", "jquery-ui-1.10.0.custom.js" %>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<!--================Container=================-->
<div class="container">
<!--==============Header=============-->
<div class="header">
<div class="logo"><a href="/"><img src="/assets/Tapski_logo.png" alt="Tapski" title="Tapski" width="218" height="71" /></a></div>
<ul>
<li><a href="#" title="Contact"><span id="icons"><img src="/assets/contact_icon.jpg" alt="" /></span>Contact</a></li>
<% if !session[:user_id].nil? %>
<li><a href="/profile" title="Profile"><span id="icons"><img src="/assets/contact_icon.jpg" alt="" /></span>Profile</a></li>
<li>
		<a href="/signout" title="Signout"><img src="/assets/signout_icon.jpg" alt="" />Signout</a>
</li>
<% else %>
	<li>
		<a href="/login" title="Signout"><img src="/assets/signout_icon.jpg" alt="" />Sign In</a>
	</li>
<% end %>

</ul>
<!--==============Nav=============-->

<div class="nav">
<% if current_user%>
<ul>
<li ><a href="/" title="Agents" id="home">Home</a></li>
<li><a href="/listings/new" id="new_listing" title="Home Searches">Create Listing</a></li>
<li><a href="/mylistings" id="my_listings" title="About Us">My Listing</a></li>
<li><a href="#" title="About Us">Saved Searches</a></li>
</ul>
<% end %>
</div>

<!--==============Nav End=============-->
</div>
<!--==============Header End=============-->
<!--==============Content=============-->
<div class="content">
<!--=============Top Section=============-->

<%= yield %>
</div>
<!--==============Content End=============-->
<!--==============Footer=============-->
<div class="footer">&copy;2012 allright reserved.</div>
</body>

<script>
$('document').ready(function(){
	$("#new_listing").click(function(){
			//$(".active").removeClass("active");
			$("#new_listing").parent().addClass("active");
	})
});
</script>
</html>
